objs
*.o
*.gch
depend.mk
python/build
python/*.egg-info
*.pyc
__pycache__
_version.py
cart2spherical
getFanningOrientation
initialise_Psi
cudimot_*
merge_parts_*
split_parts_* 
testFunctions_* 
*_priors
*.info
